@import "variables.scss";
@import "buttons";

.App {
  text-align: center;
}

h1 {
  color: $primary-red;
}

p {
  font-size: 20px;
  font-family: $main-font;
}
\body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  display: block;
  padding: 0.5rem;
  border: 2px solid $border-color;
  border-radius: 0;
  background-color: $secondary-color;
  margin: auto;
}

.btn--primary {
  padding: 0.5em;
  background-color: $primary-color;
}